/* Global styles */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    cursor: url('https://goldeyes.net/quadra/images/cursor-dot.svg'), default;
    user-select: none;
}

h1{font-size: 3.5rem;}
h2{font-size: 3rem;}
h3{font-size: 2.5rem;}
h4{font-size: 2rem;}
h5{font-size: 1.6rem;}
h6{font-size: 1rem;}
p{font-size: 1.2rem;}

/* scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #474747;
}

::-webkit-scrollbar-thumb {
    background-color: #7e7d7d;
}

:root{
    --black: #1A1A1A;
    --red: #F04A37;
    --gray-title: #2F2F2F;
    --gray-text: #717171;
}

/* cursor */
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #39b6b669;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -45%);
    transition: all ease .1s;
    z-index: 333333;
}

/* Header styles */
.header-container-desktop, .navBar{
    width: 100%;
}
.header-container-desktop{
    padding: 0 3rem;
    border-bottom: solid 1px #e0dbdb;
    background-color: #fff;
    position: fixed;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
.menu-item{
    position: relative;
    list-style: none;
    height: 60px;
    width: 70px;
    transition: all ease .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 2rem;
}
.menu-item::after{
    position: absolute;
    content: '';
    background-color: var(--red);
    width: 100%;
    height: 2px;
    top: 0%;
    left: 0%;
    transition: all ease .3s;
    transform: scale(0);
}
.item{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 500;
    font-size: .8rem;
    transition: all ease .3s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item:hover .item{
    color: var(--red);
}
.menu-item:hover::after{
    transform: scale(1.1);
}

/* En header styles */
/* Hero Styles */
.hero-container{
    width: 100%;
    height: 100vh;
    padding: 0 5rem;
    background-image: url('./img/Hero_background_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 70%;
    display: flex;
    align-items: center;
}

.hero-text-container{
    max-width: 600px;
    width: 100%;
}

.hero-welcome-title{
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--gray-title);
}

.hero-title{
    font-family: 'Prata', sans-serif;
    font-weight: 300;
    color: var(--gray-title);
    margin: 2rem 0 1rem 0;
}

.hero-introduction-text{
    color: var(--gray-text);
    font-weight: 400;
    line-height: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.btn{
    text-decoration: none;
    padding: 1rem 3rem;
}

.white-btn{
    border: solid 1px #adabab;
    border-radius: 50px;
    color: var(--black);
    text-transform: uppercase;
    transition: all ease-in-out .3s;
    background-color: #fff;
}

.white-btn:hover{
    background-color: var(--red);
    color: #fff;
    border: solid 1px var(--red);
}
/* En Hero styles */

/* About styles */
.about-container{
    background-color: var(--black);
    padding: 5rem;
}

.about-intro-text{
    color: var(--gray-text);
    text-transform: uppercase;
    font-weight: 300;
}

.about-title{
    color: #fff;
    font-family: 'Prata', sans-serif;
    font-weight: 300;
    margin: 1rem 0;
}

.about-info-text p{
    color: var(--gray-text);
    line-height: 1.5rem;
    font-weight: 300;
}


/* carousel styles */
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-items{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 3rem;
}

.carousel-item{
    min-width: 300px;
    max-width: 300px;
    transition: all ease-in-out .3s;
    outline: solid #fff 3px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item:hover{
    transform: scale(1.2);
}
/* End about styles */

/* Theory styles*/
.theory-container{
    width: 100%;
    height: 100vh;
    background-image: url('./img/background_02.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 3rem 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.theory-text-container{
    width: 50%;
    text-align: end;
}

.theory-container h6{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--gray-title);
}

.theory-container h2{
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    color: var(--gray-title);
    padding: 1rem 0;
}

.theory-container p{
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--gray-text);
}

.theory-squares-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: 1rem;
}

.square{
    width: 300px;
}

.theory-icon{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
/* End Theory styles*/

/* Graphics styles */
.graphics-container{
    padding:5rem 4rem;
}

.graphics-intro-text h6{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--gray-title);
}

.graphics-intro-text h2{
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    color: var(--gray-title);
    margin-top: 1rem;
}

.graphics-images-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphics-img-box{
    width: 100%;
    max-width: 1200px;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    gap: 1.2rem;
}

.graphics-img{
    width: 100%;
    height: 100%;
}

.graphics-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.graphics-img img{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
}

.graphics-img:nth-child(1){
    grid-column-start: span 2;
}

.graphics-img:nth-child(5){
    grid-row-start: span 2;
}

.graphics-img:nth-child(6){
    grid-column-start: span 2;
}
/* End Graphics styles */

/* Creators styles */
.creators-container{
    width: 100%;
    padding: 5rem 4rem;
    background-image: url('./img/creators-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.creators-text{
    width: 100%;
    max-width: 650px;
}

.creators-text h6{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--gray-title);
}

.creators-text h2{
    font-family: 'Prata', sans-serif;
    color: var(--gray-title);
    font-weight: 400;
    line-height: 3rem;
    margin: 1.3rem 0;
}

.creators-text p{
    line-height: 1.8rem;
    color: var(--gray-text);
    font-weight: 300;
}

.creators-last-p{
    margin-bottom: 3rem;
}

.red-btn{
    border: solid 1px var(--red);
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    transition: all ease-in-out .3s;
    background-color: var(--red);
}

.red-btn:hover{
    background-color: #fff;
    color: var(--red);
    border: solid 1px var(--red);
}
/* End Creators styles */

/* Contact Styles */
.contact-container{
    width: 100%;
    padding: 5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text-container{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.contact-text-container h6, .contact-text-container h3, .contact-text-container p{
    text-align: center;
    font-weight: 400;
}

.contact-text-container h6{
    color: var(--red);
    text-transform: uppercase;
}

.contact-text-container h3{
    font-family: 'Prata', sans-serif;
    color: var(--gray-title);
    margin: 2rem 0;
    line-height: 2.5rem;
}

.contact-text-container p{
    color: var(--gray-text);
    font-weight: 300 !important;
    margin-bottom: 2rem;
}

.form-contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fom-inputs-container{
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form-input, .form-textarea{
    width: 100%;
}

.form-input input{
    width: 100%;
    height: 4rem;
    padding: 1rem;
    outline: none;
    border-radius: 4px;
    border: solid 1px #F4F4F4;
    background-color: #F4F4F4;
    font-size: 1.1rem;
}

.form-textarea textarea{
    width: 100%;
    height: 10rem;
    padding: 1rem;
    outline: none;
    border-radius: 4px;
    border: solid 1px #F4F4F4;
    background-color: #F4F4F4;
    font-size: 1.1rem;
}

.form-submit{
    text-transform: uppercase;
    background-color: var(--red);
    color: #fff;
    padding: 1rem 4rem;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    border: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .4);
    transition: all ease-in-out .3s;
}

.form-submit:hover{
    letter-spacing: .2rem;
}

/* End Contact Styles */

/* Footer styles */
.footer{
    width: 100%;
    padding: 4rem 4rem 0 4rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: rgb(36,35,35);
    background: radial-gradient(circle, rgba(36,35,35,1) 0%, rgba(15,15,15,1) 51%);
}

.footer-info-container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 2rem;
    padding: 3rem 0;
}

.footer-div{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 2rem;
}

.footer-logo img{
    width: 70px;
}

.footer-logo h5{
    color: #fff;
    margin-top: 1rem;
    font-weight: 300;
}

.footer-location h6{
    color: #fff;
    margin-bottom: 1rem;
}

.footer-location p{
    color: var(--gray-text);
    margin-bottom: 1rem;
    font-weight: 300;
}

.footer-location a{
    color: var(--gray-text);
    font-weight: 300;
}

.newsletter h6{
    color: #fff;
    margin-bottom: 1rem;
}

.newsletter p > span{
    color: var(--red);
}

.newsletter p{
    color: var(--gray-text);
    font-weight: 300;
}

.newsletter-input{
    width: 100%;
    position: relative;
}

.newsletter-input input{
    height: 3rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    color: var(--gray-title);
    background-color: #f2f2f221;
    border-radius: 50px;
    border: none;
}

.newsletter-input input:focus{
    color: var(--gray-text);
    outline: none;
}

.newsletter-input button{
    position: absolute;
    border-radius: 50px;
    text-transform: uppercase;
    height: 3rem;
    padding: 1rem 1.5rem;
    border: none;
    left: 80%;
    font-weight: 400;
    background-color: var(--red);
    color: #fff;
}

.footer-credits-container{
    width: 100%;
    border-top: solid var(--gray-text) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.footer-credits-container h6{
    font-weight: 300;
    color: var(--gray-text);
}

.footer-credits-container h6 > a{
    text-decoration: none;
    color: #fff;
}

/* End Footer styles */


/* Responsive design */
/* Tablet view */
@media screen and (max-width: 800px){

    /* Graphics section */
    .graphics-img-box{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-template-rows: 200px;
    }

    .graphics-img:nth-child(1){
        grid-column-start: span 1;
    }
}
/* mobile view */
@media screen and (max-width: 500px){

    /* Graphics section */
    .graphics-img-box{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .graphics-img img{
        height: 200px;
    }
}